{% extends 'base/principal.html' %}
{% block content %}

<div class="barra-superior">
    <div>
        <h1>Hola {{ request.user|title }}</h1>
        <h3 style="margin:0">Tienes <i>{{ count }}</i> tarea{{ count|pluralize }} incompleta{{ count|pluralize }}</h3>
    </div>
    {% if request.user.is_authenticated %}
        <form method="post" action="{%url 'logout' %}">
            {% csrf_token %}
            <button  type="submit"> Salir </button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Ingresar</a>
    {% endif %}
</div>

{% comment %}<a href="{% url 'crear-tarea' %}">Nueva Tarea</a>

<form method="GET">
    <label>
        <input type="text" name="area-buscar" value="{{ valor_buscado }}">
    </label>
    <input type="submit" value="Buscar">
</form>{% endcomment %}

<table>
    <tr>
        <th>Elementos</th>
        <th colspan="2">Accion</th>
    </tr>

    {%  for tarea in tareas %}
        <tr>
            <td>{{ tarea.titulo }}</td>
            <!--<td><a href="{% url 'tarea' tarea.id %}">Ver</a></td>-->
            <td><a href="{% url 'editar-tarea' tarea.id %}">Editar</a></td>
            <td><a href="{% url 'eliminar-tarea' tarea.id %}">Eliminar</a></td>

        </tr>

        {% empty %}
        <h3>No hay elementos en la lista</h3>
    {% endfor %}
</table>
{% endblock content %}

